h1{
	text-align: center;
	font-family: 'Ranchers', cursive;
	font-size: 60px;
}

body{
	text-align: center;
	background-color: #F0FFF0;
	font-family: 'Jomhuria', cursive;
	font-size: 35px;

}

#slika{
	height: 300px;
	width: 1300px;
}

#link{
	font-family: 'Ranchers', cursive;
	font-size: 45px;
	color: #000000;

}
#link:hover{
	color: #FF0000;
}

h3{
	font-size: 35px;
}
h4{
	font-size: 30px;
	font-family: 'Eater', cursive;
}

#drugilink{
	width: 100px;
	height: 150px;
}